# apiVersion: v1
# kind: PersistentVolumeClaim
# metadata:
#   name: rabbitmq-pvc
#   namespace: gamestore
# spec:
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 5Gi